[Desktop Entry]
Hidden=false
Version=1.0
Name=AutoBacklight
Categories=Utility;
StartupNotify=true
Terminal=false
Icon=/opt/autobacklight/res/icon.png
Comment=Automatic adjustment of screen backlight
Type=Application
Exec=sudo python2 /opt/autobacklight/autobacklight.py &
X-GNOME-Autostart-enabled=true
